<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SuperUpload</title>
  <script type="text/javascript" src="jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="upload_tracker.js"></script>
  <script type="text/javascript" src="event_binder.js"></script>
  <script type="text/javascript" src="form_data_factory.js"></script>
  <script type="text/javascript" src="uploader.js"></script>
  <script type="text/javascript">
    $(function() {
        var tracker = html5UploadTracker('progress');
        var binder = html5EventBinder(tracker);
        var formData = formDataFactory();
        var uploader = html5Uploader(binder, formData);
        $('#file').on('change', function() {
          uploader.upload("superUpload", "/upload/<%= fileUuid %>");
        });
    });
  </script>
</head>
<body>
  <form id="superUpload" action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" id="file" name="file" />
    <div id="fileInformation">
      <span id="progress"></span>
    </div>
    <textarea id="description" name="description"></textarea>
    <br />
    <input type="submit" value="Save" />
  </form>
</body>
</html>
