<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SuperUpload</title>
  <script type="text/javascript" src="jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="upload_view.js"></script>
  <script type="text/javascript" src="command_factory.js"></script>
  <script type="text/javascript" src="html5/event_listener.js"></script>
  <script type="text/javascript" src="html5/event_binder.js"></script>
  <script type="text/javascript" src="html5/form_data_factory.js"></script>
  <script type="text/javascript" src="html5/uploader.js"></script>
  <script type="text/javascript" src="html5/html5_command.js"></script>
  <script type="text/javascript" src="fallback/progress_tracker.js"></script>
  <script type="text/javascript" src="fallback/uploader.js"></script>
  <script type="text/javascript" src="fallback/fallback_command.js"></script>
  <script type="text/javascript">
    var uploadUrl = '/upload/<%= id %>';
    var progressUrl = '/progress/<%= id %>';
  </script>
  <script type="text/javascript" src="main.js"></script>
</head>
<body>
  <form id="superUploadForm" action="/save/<%= id %>" method="post" enctype="multipart/form-data">
    <input type="file" id="file" name="file" />
    <div id="fileInformation">
      <span id="progress"></span>
      <span id="path"></span>
    </div>
    <textarea id="description" name="description"></textarea>
    <br />
    <input type="submit" value="Save" />
  </form>
  <iframe id="hidden_frame" name="hidden_frame" style="display: none;" />
</body>
</html>
