<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	The uploaded file is: <br />
  Path: <%= upload.path %> <br />
  Description: <%= upload.description %>
</body>
</html>
