<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SuperUpload</title>
</head>
<body>
	The uploaded file is: <br />
  Name: <%= upload.name %> <br />
  Path: <%= upload.path %> <br />
  Description: <%= upload.description %> <br />
  <a href="/">Upload another file.</a>
</body>
</html>
