<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SuperUpload</title>
  <link rel="stylesheet" href="/stylesheet/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheet/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/stylesheet/upload.css" />
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">SuperUpload</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div>
      <h4>The uploaded file is: </h4><br />
      <strong>Original File Name:</strong> <%= upload.name %> <br />
      <a href="<%= upload.path %>">Uploaded to here.</a> <br />
      <strong>Description:</strong> <%= upload.description %> <br />
      <br />
      <a href="/" class="btn btn-primary">Upload another file.<a/>
    </div>
  </div>
</body>
</html>
